<h1>Editing tags for <%= @game.name %></h1>

<p class="btn--wrapper">
  <a class="btn-new" href="/gameTags/<%= @game.id %>/new">Add new tag</a>
</p>

<ul>
  <% for gameTag in GameTag.all_by_game(@game.id) %>
  <li>
  <p><%= gameTag.tag.name %> </p>
    <p>
      <form action="/gameTags/<%= gameTag.id %>/<%=gameTag.game_id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </p>
  </li>
  <% end %>
</ul>
