<h1>Adding new tags for <%= @game.name%></h1>



<form class="form" action="/gameTags/<%= @game.id%>/edit" method="post">
  <div class="form">
    <input type="hidden" id="game_id" name="game_id" value="<%= @game.id%>">
    <label for="tags">Select tags:</label>
    <select name="tag_id[]" id="tag_select" multiple>
      <% @tags.each do |tag| %>
      <option value=<%= tag.id %>><%= tag.name %></option>
      <% end %>
    </select>
  </div>
  <div class="btn_submit">
    <input type="submit" value="Add new tag"/>
  </div>
</form>
