<div class="logos">
  <img src="<%=@developer.img_link%>" onerror="this.src='/images/defaulfDeveloperLogo.png';" alt="default logo">
</div>

<div class="dev_name">
  <h1><%= @developer.name %> (developer)</h1>
  <h6>Location: <%= @developer.location %></h6>
</div>

<div class="prodcuts">

  <h2>Developed games:</h2>

  <ul>
    <% @developer.games.each do |game| %>
    <li><a href="/games/<%= game.id%>"><%= game.name %></a></li>
    <% end %>
  </ul>
</div>

<div class="btn-edit">
  <a href="/developers/<%= @developer.id %>/edit"> Edit developer</a>
</div>

<form class = "btn-delete" action="/developers/<%= @developer.id %>/delete" method="POST">
  <input class="btn-delete" type="submit" value="delete developer" />
</form>
