<div class="logos">
  <img src="/images/defaultGamePhoto.jpg" alt="default photo" style = "height: 120px; width: 100px;">
</div>

<h1><%= @game.name %></h1>
<p><a href="/developers/<%= @game.developer_id %>">Developed by: <%= @game.developer.name %></a></p>
<p><a href="/publishers/<%= @game.publisher_id %>">Published by: <%= @game.publisher.name %></a></p>

<div class="description">
  <h3>Description:</h3>
  <p><%= @game.description %></p>
  <p>Genres: <% @game.tags.each do |tag| %>
    <%= tag.name%><%= ", " unless tag == @game.tags.last%>

    <% end%>
  </p>
  <a  href="/games/<%= @game.id %>/edit/tags"> Edit tags</a>
</div>

<form action="/games/<%= @game.id %>/delete" method="POST">
  <input class="btn-delete" type="submit" value="delete" />
</form>


<p>Buying cost: <%= @game.buying_cost %></p>
<p>Selling price: <%= @game.selling_price %></p>
<p>Markup: <%= @game.get_markup %></p>
<p>In stock: <%= @game.stock_quantity %></p>

<div class="btn-edit">
  <a  href="/games/<%= @game.id %>/edit"> EDIT</a>
</div>
