<div class="logos">
  <img src="/images/defaultGamePhoto.jpg" alt="default photo" style = "height: 120px; width: 100px;">
</div>

<h1><%= @game.name %></h1>
<h6><a href="/developers/<%= @game.developer_id %>">Developed by: <%= @game.developer.name %></a></h6>
<h6><a href="/publishers/<%= @game.publisher_id %>">Published by: <%= @game.publisher.name %></a></h6>
<h6>Released: <%= @game.year %></h6>
<div class="description">
  <h3>Description:</h3>
  <p><%= @game.description %></p>
  <hr>
  <p class= "tags">Genres: <% @game.tags.each do |tag| %>
    <%= tag.name%><%= ", " unless tag.name == @game.tags.last.name%>
    <% end%>
    <a  href="/gameTags/<%= @game.id %>/edit"> Edit tags</a>
  </p>
  <hr>
</div>

<ul>
  <li>Buying cost: <%= @game.buying_cost %></li>
  <li>Selling price: <%= @game.selling_price %></li>
  <li>Markup: <%= @game.get_markup %></li>
  <li>In stock: <%= @game.stock_quantity %><%= @game.stock_level()%></li>
</ul>

<div class="btn-edit">
  <a  href="/games/<%= @game.id %>/edit"> Edit this game</a>
</div>
<form class = "btn-delete" action="/games/<%= @game.id %>/delete" method="POST">
  <input class="btn-delete" type="submit" value="delete this game" />
</form>
