<div class="logos">
  <img src="/images/defaultPublisherLogo.png" alt="default logo" style = "height: 120px; width: 150px;">
</div>

<h1><%= @publisher.name %> (publisher)</h1>

<h6>Location: <%= @publisher.location %></h6>

<h2>Published games:</h2>

<ul>
  <% @publisher.games.each do |game| %>
  <li><a href="/games/<%= game.id%>"><%= game.name %></a></li>
  <% end %>
</ul>

<div class="btn-edit">
  <a href="/publishers/<%= @publisher.id %>/edit"> Edit publisher</a>
</div>

<form class = "btn-delete" action="/publishers/<%= @publisher.id %>/delete" method="POST">
  <input class="btn-delete" type="submit" value="delete publisher" />
</form>
